.App {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
}





.courier-prime-regular {
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
    font-family: "Courier Prime", serif;
    font-weight: 700;
    font-style: normal;
}

.courier-prime-regular-italic {
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: italic;
}

.courier-prime-bold-italic {
    font-family: "Courier Prime", serif;
    font-weight: 700;
    font-style: italic;
}





img {
    border-radius: 1rem;
    max-width: 100vw;
    height: 50rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

Body {
    /* background: linear-gradient(45deg, rgb(0, 0, 0), rgb(19, 97, 97)); */
    background: linear-gradient(45deg, pink, teal);
}

.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox img {
    max-width: 100%;
    /* Optional, to ensure the image doesn't overflow */}
    










   